<!DOCTYPE html>
<html>
<head>
	<title>Stryd Task</title>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
	<h1>Search Comments</h1>
	<p>
		Data from 
		<a href="http://www.dcrainmaker.com/2015/01/stryd-first-running.html">dcrainmaker blog</a>.
	</p>
	<form data-search="form">
		<input type='text' name='terms' data-search='input'>
		<button type='submit'>Search</button>	
	</form>
	<div data-display='output'></div>
	<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script>
		var output = document.querySelector('[data-display="output"]');
		var display_comments = function (data) {

		};


		var form = document.querySelector('[data-search="form"]');
		form.addEventListener('submit', function (e) {
			e.preventDefault();
			console.log('Submit triggered');
			console.log('Search terms:', form.terms)
			var req = $.ajax({
				method: 'POST',
				url: '/search',
				data: JSON.stringify({
					terms: form.terms.value
				}),
				dataType: 'json',
				contentType: 'application/json; charset=UTF-8'
			});
			req.done(function (data) {
				display_comments(data);
			});
		});
	</script>
</body>
</html>