<!DOCTYPE html>
<html>
<head>
	<title>Stryd Task</title>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<style type="text/css">
		.media-body p {
			font-size: 17px;
			line-height: 1.45em;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>Search Comments</h1>
		<p>
			Data from 
			<a href="http://www.dcrainmaker.com/2015/01/stryd-first-running.html">dcrainmaker blog</a>.
		</p>
		<form data-search="form">
			<div class="form-group">
				<input type='text' class='form-control' name='terms' data-search='input' placeholder='Enter search terms'>
				<p class="help-block">Enter search terms seperated by commas. i.e. stryd,awesome</p>
				<button type='submit' class='btn btn-success'>Search</button>
			</div>
		</form>
		<div data-display='output'></div>
	</div>
	<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script>
		var output = document.querySelector('[data-display="output"]');
		var media = {};
		media.holder = document.createElement('div');
		media.holder.classList.add('media');
		media.body = document.createElement('div');
		media.body.classList.add('media-body');
		media.heading = document.createElement('h4');
		console.log(media.heading)
		media.heading.classList.add('media-heading');
		media.p = document.createElement('p');

		media.body.appendChild(media.heading);
		media.body.appendChild(media.p);
		media.holder.appendChild(media.body);
		
		var hr = document.createElement('hr');

		var display_comments = function (data) {
			var item, i;
			while(output.firstChild) {
				output.removeChild(output.firstChild);
			};
			for (i = 0; i < data.comments.length; i++) {
				item = data.comments[i];
				console.log(item)
				media.heading.textContent = item.author + ' says:';
				media.p.textContent = item.text;
				output.appendChild(media.holder.cloneNode(true));
				output.appendChild(hr.cloneNode(true));
			};
		};


		var form = document.querySelector('[data-search="form"]');
		form.addEventListener('submit', function (e) {
			e.preventDefault();
			console.log('Submit triggered');
			console.log('Search terms:', form.terms)
			var req = $.ajax({
				method: 'POST',
				url: '/search',
				data: JSON.stringify({
					terms: form.terms.value
				}),
				dataType: 'json',
				contentType: 'application/json; charset=UTF-8'
			});
			req.done(function (data) {
				display_comments(data);
			});
		});
	</script>
</body>
</html>